.platformSelectorContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}

.platformImage {
    height: 3rem;
    width: 2rem;
}

.platformText {
    height: 3rem;
    width: 2rem;
    padding-top: 40%;
    font-weight: 700;
}