@page "/"
@inherits BasePage
@using AppProject.Client.Pages.Components;
@using AppProject.Client.Shared;

<div style="display:flex; justify-content:space-evenly; margin-top:1rem;">
    <MudButton Variant="Variant.Filled" Class="rounded-circle">
        <img style="height:3rem; width:2rem;" src="../icons/computer-monitor.svg" />
    </MudButton>
    <MudButton Variant="Variant.Filled" Class="rounded-circle">
        <img style="height:3rem; width:2rem;" src="../icons/playstation.svg" />
    </MudButton>
    <MudButton Variant="Variant.Filled" Class="rounded-circle">
        <img style="height:3rem; width:2rem;" src="../icons/xbox.svg" />
    </MudButton>
    <MudButton Variant="Variant.Filled" Class="rounded-circle">
        <img style="height:3rem; width:2rem;" src="../icons/nintendo-switch.svg" />
    </MudButton>
    <MudButton Variant="Variant.Filled" Class="rounded-circle">
        <div style="height:3rem; width:2rem; padding-top:40%; font-weight:700;">All</div>
    </MudButton>
</div>

<HorizontalProductScroller Title="Popular Games" Items="items"></HorizontalProductScroller>
<HorizontalProductScroller Title="Recommended Games" Items="items"></HorizontalProductScroller>