@page "/"

@inherits BasePage

<div class="platformSelectorContainer">
    @foreach(var platform in platforms)
    {
        <MudButton Variant="Variant.Filled" Class="rounded-circle" OnClick="() => NavigateToList(platform)" Style="background-color: var(--secondary);">
            <img class="platformImage" src="@($"../icons/{platform.Name}.svg")" />
        </MudButton>
    }
   <MudButton Variant="Variant.Filled" Class="rounded-circle" OnClick="() => NavigateToList()" Style="background-color: var(--secondary);">
        <div class="platformText">All</div>
    </MudButton>
</div>

<HorizontalProductScroller Class="mt-5" Title="Popular Games" Items="items"></HorizontalProductScroller>
<HorizontalProductScroller Class="mt-5" Title="Recommended Games" Items="items"></HorizontalProductScroller>
