@page "/"

@inherits BasePage

<div class="platformSelectorContainer">
@*    <MudButton Variant="Variant.Filled" Class="rounded-circle" OnClick="() => NavigateToList(Platform.PC)" Style="background-color: var(--secondary);">
        <img class="platformImage" src="../icons/computer-monitor.svg" />
    </MudButton>
   <MudButton Variant="Variant.Filled" Class="rounded-circle" OnClick="() => NavigateToList(Platform.Playstation)" Style="background-color: var(--secondary);">
        <img class="platformImage" src="../icons/playstation.svg" />
    </MudButton>
   <MudButton Variant="Variant.Filled" Class="rounded-circle" OnClick="() => NavigateToList(Platform.Xbox)" Style="background-color: var(--secondary);">
        <img class="platformImage" src="../icons/xbox.svg" />
    </MudButton>
   <MudButton Variant="Variant.Filled" Class="rounded-circle" OnClick="() => NavigateToList(Platform.Switch)" Style="background-color: var(--secondary);">
        <img class="platformImage" src="../icons/nintendo-switch.svg" />
    </MudButton>
   <MudButton Variant="Variant.Filled" Class="rounded-circle" OnClick="() => NavigateToList()" Style="background-color: var(--secondary);">
        <div class="platformText">All</div>
    </MudButton> *@
</div>

<HorizontalProductScroller Class="mt-5" Title="Popular Games" Items="items"></HorizontalProductScroller>
<HorizontalProductScroller Class="mt-5" Title="Recommended Games" Items="items"></HorizontalProductScroller>
