.payContainer {
    position: fixed;
    background-color: var(--lightBlue);
    border-radius: 1rem;
    padding: 0.5rem;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    bottom: 3.7rem;
    font-size: large;
    text-align: center;
    border-color: #4695c5;
    border-width: 0.1rem;
    z-index: 3;
}

.payTotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3rem;
}

.mainContent {
    margin: 0.7rem;
    margin-bottom: 10rem;
}

.summaryContainer {
    padding: 0.5rem;
    border-color: #808080;
    border-width: 0.1rem;
    border-radius: 1rem;
}

.summaryItem {
    display: flex;
    justify-content: space-between;
    margin: 0.3rem;
    font-size: 1rem;
}