@using AppProject.Shared;
<div style="margin-top: 1rem; margin-left:1rem">
    @Title >
    <div class="hideScrollbar" style="overflow-x:scroll; display:flex; margin-top: 1rem">
        @foreach(Item item in Items)
        {
            <div style="display:flex; margin-right: 2rem; height: 10rem; min-width:12rem; background-color:lightgray; border-radius:1rem;">
                @item.Name
            </div>
        }
    </div>
</div>

