@inherits BaseComponent 

<div class="@Class" style="@Style">
    <MudButton Variant="Variant.Text" Class="mt-3 ml-1">
        <p class="h3 my-auto">@Title ></p>
    </MudButton>
    <div class="itemContainer hideScrollbar">
        @foreach (var item in Items)
        {
            <div class="item p-2">
                @item.Name
            <MudImage Src="@GetItemCoverPictureUri(item)"></MudImage>
            </div>
        }
    </div>
</div>
