@inherits BaseComponent

<div class="@Class" style="@Style">

    <p class="h3 my-auto p-2"> @Title ></p>

    <div class="itemContainer hideScrollbar">
        @foreach (var item in Items)
        {
            <div class="p-2" @onclick="() => NavigateToList(item.Id)">
                <div class="item" style="background-image: url(@item.CoverPictureUri); background-size: cover; border-color: var(--secondary); border-style:solid; border-width: 2px;" />
                <div class="title">@item.Name</div>
            </div>
        }
    </div>
</div>